<%- include('layout/header.ejs'); %>
    <form method="POST" action="/create">
        <lable>Post title</lable>
        <input type="text" name="title">
        <br>
        <lable>Post text</lable>
        <textarea cols="20" rows="10" name="text"></textarea>
        <button type="submit">Submit</button>
    </form>
<%- include('layout/footer.ejs'); %>